.app {
  height: 100vh;
  display: flex;
  background: rgb(20, 12, 58);
  background: radial-gradient(
    circle,
    rgb(25, 14, 77) 26%,
    rgb(26, 15, 49) 52%,
    rgb(17, 11, 63) 93%
  );
}
.main {
  display: flex;
  width: 75%;
  color: aliceblue;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("/bg.jpg") center;
}

.top {
  height: 50%;
  position: relative;
}

.timer {
  color: rgb(228, 199, 33);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid rgb(228, 199, 33);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 650;
  position: absolute;
  bottom: 10px;
  left: 100px;
}

.bottom {
  height: 50%;
}

.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 80%;
  background-color: rgb(74, 22, 134);
  border: 2px solid rgb(241, 219, 16);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.pyramid {
  color: rgb(252, 236, 9);
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.moneyList {
  list-style: none;
  width: 100%;
  padding: 24px;
}

.moneyListItemNumber {
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}
.moneyListItemAmount {
  font-size: 20px;
}

.endtext {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.won {
  font-size: 36px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
